<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.bleplx"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.BLUETOOTH"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN"
    android:maxSdkVersion="30" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_SCAN"
    android:usesPermissionFlags="neverForLocation"
    tools:targetApi="s" />
  <uses-permission
    android:name="android.permission.BLUETOOTH_CONNECT"
    tools:targetApi="s" />
</manifest>
